{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class='centered-column-container'>
    <h3 class='title-text mb-5'>Login</h3>

    <div class="centered-column-container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <form method='post' action="{{url_for('auth.login')}}">
      <input class='input-group-text mb-3' type='text' name='email' placeholder='Email'/>
      <input class='input-group-text mb-3' type='text' name='password' placeholder='Password'/>
      <div class='d-flex justify-content-center mb-5'>
        <button class='btn btn-primary' type='submit'>Login</button>
      </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register Here</a></p>
</div>
{% endblock %}