.centered-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title-text {
    color: whitesmoke;
  }

  .title-text-secondary {
    color: teal;
  }
  
  p {
    color: whitesmoke;
  }

  .bg-dark-custom {
    background-color: #171717;
  }